{% load static %}

<html>
<head>
    <title>E - Commerce Portal for Agriculture</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
    <script LANGUAGE="Javascript" >
        function validate() {
            var x = document.forms["f1"]["t1"].value;
            var y = document.forms["f1"]["t2"].value;
            var c = document.forms["f1"]["t3"].value;
            var e = document.forms["f1"]["t4"].value;
            var a = document.forms["f1"]["t5"].value;

            if (x == null || x == "") {
                window.alert("Fruit/vegetable name must be entered");
                document.f1.t1.focus();
                return false;
            }
            if (y == null || y == "") {
                window.alert("Quantity must be entered");
                document.f1.t2.focus();
                return false;
            }
            if (isNaN(y)) {
                window.alert("Please enter a valid quantity (numeric)");
                document.f1.t2.focus();
                return false;
            }
            if (c == null || c == "") {
                window.alert("Price must be entered");
                document.f1.t3.focus();
                return false;
            }
            if (isNaN(c)) {
                window.alert("Please enter a valid price (numeric)");
                document.f1.t3.focus();
                return false;
            }
            if (e == null || e == "") {
                window.alert("Product location must be entered");
                document.f1.t4.focus();
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
<div class="main">
    <div class="main_resize">
        <div class="header">
            <div class="logo">
                <h1 style="font-family: Lucida Bright, serif; font-size: 34px;"><span>E - Commerce Portal for Agriculture</span><small></small></h1>
            </div>
        </div>
        <div class="content">
            <div class="content_bg">
                <div class="menu_nav">
                    <ul>

                        <li><a href="{% url 'AddDetails' %}">Add Products </a></li>
                        <li><a href="{% url 'UpdatePrice' %}">View Products</a></li>
                        <li><a href="{% url 'index' %}">Logout</a></li>
                    </ul>
                </div>
                <div class="hbg"><img src="{% static 'images/f3.jpg' %}" width="915" height="286" alt="" /></div>
                <center>
                    <form name="f1" method="post" action={% url 'AddDetailsAction' %} enctype="multipart/form-data" onsubmit="return validate(this);">
                        {% csrf_token %}
                        <h2 style="color: black;"><b>Add Product Details</b></h2>

                        <font size="3" color="green"><center>{{ data|safe }}</center></font>

                        <table align="center" width="80" >
                            <tr><td><font size="" color="black">Product&nbsp;Name</font></td><td><input type="text" name="t1" style="font-family: Comic Sans MS" size="30"/></td></tr>


                            <tr><td><font size="" color="black">Quantity (KG)</font></td><td><input type="text" name="t2" style="font-family: Comic Sans MS" size="20"/></td></tr>

                            <tr><td><font size="" color="black">Price (Rs.)</font></td><td><input type="text" name="t3" style="font-family: Comic Sans MS" size="20"/></td></tr>

                            <tr><td><font size="" color="black">Product&nbsp;Location</font></td><td><input type="text" name="t4" style="font-family: Comic Sans MS" size="80"/></td></tr>

                            <tr><td><font size="" color="black">Product&nbsp;Image</font></td><td><input type="file" name="t5" style="font-family: Comic Sans MS" size="60"/></td></tr>


                            <tr><td></td><td><input type="submit" value="Add Products">
                                </td>
                        </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
